[submodule "glTF-Sample-Assets"]
	path = glTF-Sample-Assets
	url = https://github.com/KhronosGroup/glTF-Sample-Assets
[submodule "glTF-Sample-Environments"]
	path = glTF-Sample-Environments
	url = https://github.com/KhronosGroup/glTF-Sample-Environments.git
